<div class="container-fluid bg-relatorio menu p-4">

    <div class="row gy-3">

        <div class="relatorio col-12">
      
            <div class="title d-flex align-items-center p-0">
                <div class="col-12 d-flex justify-content-center">
                    <fa-icon [icon]="faArrowLeft" size="lg" class="btn rounded-circle circle-yellow p-2" (click)="goBack()"></fa-icon>
                    <h1 class="text-center p-1 m-auto">Relarório</h1>
                    
                    <fa-icon [icon]="faChartLine" size="lg" class="btn rounded-circle circle-yellow p-2 mx-2" (click)="openDialog()"></fa-icon>

                    <fa-icon [icon]="faInfo" class="btn rounded-circle circle-yellow p-2 px-3" (click)="abrirImagem('quadra-completa.png')"></fa-icon>
                </div>
            </div>

            <div *ngIf="!carregando" class="col-12 col-md-10 px-2 m-auto">

                <h3 class="col-12 text-center">
                    {{relatorio.E_nome | titlecase}} ({{relatorio.F_jogador.substr(0, 10)}})
                </h3>

                <h4 class="col-9 text-center m-auto">{{relatorio.H_partida_acertos}} x {{relatorio.J_partida_erros}}</h4>
                    

                <div class="col-12">
                    <p class="col-6 text-center d-inline-block m-0">{{relatorio.C_tipo_jogo}} - {{relatorio.D_modalidade}}</p>
                    <p class="col-6 text-center d-inline-block m-0">{{formataData(relatorio.B_data)}}</p>
                </div>

                <hr/>

                <div *ngFor="let set of relatorio.L_set_resultado">

                    <div class="col-12">
                        <h5 class="col-2 d-inline-block">Set {{set.B_set_ordem}}</h5>
                        <p class="col-5 d-inline-block"><b>
                            Acertos: {{set.E_set_acertos}} </b> ({{set.G_set_acertos_relacao_set}}%)
                        </p>
                        <p class="col-5 d-inline-block"><b>
                            Erros: {{set.H_set_erros}}  </b> ({{set.J_set_erros_relacao_set}} %)
                        </p>
                    </div>

                    <div *ngFor="let golpe of set.K_jogadas">

                        <h6 class="col-12 ps-3 d-inline-block">{{golpe.B_golpe}}</h6>
                        <div class="col-12 col-md-6 ps-4 d-inline-block" >
                            <h6 class="col-6 d-inline-block" (click)="expandeAcerto(golpe.A_golpe_id)">
                                Acerto: {{golpe.E_golpe_acertos}} ({{golpe.F_golpe_acertos_porc}}%)
                                <fa-icon *ngIf="!mostraAcerto || acerto != golpe.A_golpe_id" [icon]="faCaretDown"></fa-icon>
                                <fa-icon *ngIf="mostraAcerto && acerto == golpe.A_golpe_id" [icon]="faCaretUp"></fa-icon>
                            </h6>
                            <div *ngIf="mostraAcerto && acerto == golpe.A_golpe_id">
                                <div *ngFor="let qAcerto of golpe.I_quadrantes_acerto">
    
                                    <div  class="col-12 ps-4">                                   
                                        
                                        <p class="d-inline-block px-2 py-1 m-0">{{qAcerto.C_quadrante_total}}x {{qAcerto.B_quadrante}}</p>
                                        <div class="col-2 d-inline-block">
                                            <img *ngIf="qAcerto.A_quadrante_id < 13" src="../../assets/quadra/Q{{qAcerto.A_quadrante_id}}.png" class="img-fluid" alt="Responsive image">
                                        </div>


                                    </div>
                
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-md-6 ps-4 d-inline-block">
                            <h6 class="col-6 d-inline-block" (click)="expandeErro(golpe.A_golpe_id)">
                                Erro: {{golpe.G_golpe_erros}} ({{golpe.H_golpe_erros_porc}} %)
                                <fa-icon *ngIf="!mostraErro || erro != golpe.A_golpe_id" [icon]="faCaretDown"></fa-icon>
                                <fa-icon *ngIf="mostraErro && erro == golpe.A_golpe_id" [icon]="faCaretUp"></fa-icon>
                            </h6>
                            <div *ngIf="mostraErro && erro == golpe.A_golpe_id">
                                <div *ngFor="let qErro of golpe.J_quadrantes_erro">
    
                                    <div class="col-12 ps-4">
                                        <p class="d-inline-block px-2 py-1 m-0">{{qErro.C_quadrante_total}}x {{qErro.B_quadrante}}{{qErro.E_tipo_erro.length > 0 ? '(' + qErro.E_tipo_erro[0].B_tipo_erro + ')' : ''}}</p>
                                        <div class="col-2 d-inline-block">
                                            <img *ngIf="qErro.A_quadrante_id < 13" src="../../assets/quadra/Q{{qErro.A_quadrante_id}}.png" class="img-fluid" alt="Responsive image">
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                        </div>


                        <hr class="m-1"/>

                    </div>

                </div>

            </div>

        </div>

        <div class="center">
            <mat-spinner *ngIf="carregando"></mat-spinner>
        </div>
  
    </div>

</div>

