.cadastro, .menu{
    height: 100%;
}

.circle{
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2) !important;
}