p{
    font-size: 0.92em;
    line-height: 16px;
}

h1{
    font-size: 1.4em;
}

h5{
    font-size: 1.1em;
}

.cadastro, .menu{
    height: 100%;
}

.circle{
    background-color: white;
    display: flex;
    justify-content: center;
}

.circle-yellow{
    background-color: #F0C808;
    color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.circle-green{
    background-color: #1E4727;
    color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.fab{
    position: fixed;
    bottom: 1em;
    right: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2) !important;
}