<div class="container-fluid menu p-5" style="position:relative">

    <div class="row gy-3" >
      
        <div class="title d-flex align-items-center p-0">
            <div class="d-flex justify-content-center">
                <fa-icon [icon]="faArrowLeft" size="lg" class="btn rounded-circle circle p-2" (click)="goBack()"></fa-icon>
            </div>
            <h1 class="col-10 text-center p-1">Jogadores Cadastrados</h1>
        </div>

        <div *ngFor="let jogador of jogadores | slice: inicioPag : fimPag" class="col-12 col-md-6 px-2">

            <div class="card p-2">

                <h5 class="text-center p-1"><fa-icon [icon]="faUser"></fa-icon> {{jogador.nome}}</h5>

                <div class="col-12 px-3">
                    
                    <div class="col-8 m-auto d-inline-block">
                        <p>
                            <fa-icon [icon]="faEnvelope"></fa-icon>
                            {{jogador.email}}
                        </p>
                        <p>
                            <fa-icon [icon]="faCalendar"></fa-icon>
                            {{jogador.data_nascimento}}
                        </p>
                    </div>
                    
                    <div class="col-4 d-inline-block align-items-end">
                        <p class="text-end">
                            <fa-icon [icon]="faMobileScreen"></fa-icon>
                            {{jogador.telefone}}
                        </p>
                        <p *ngIf="jogador.lateralidade != 'naoinformado'" class="text-end">
                            <fa-icon [icon]="faTableTennis"></fa-icon>
                            {{jogador.lateralidade | titlecase}}
                        </p>
                    </div>

                </div>

            </div>

        </div>

        <div class="center">
            <mat-spinner *ngIf="carregando"></mat-spinner>
        </div>

        <mat-paginator [length]="jogadores.length"
              [pageSize]="8"
              [pageSizeOptions]="[5, 10, 25, 50]"
              (page)="onPageChange($event)"
              aria-label="Selecionar página">
        </mat-paginator>

        <div class="input-group-append p-0">
            <div class="col-12 d-flex justify-content-end">
                <fa-icon [icon]="faCheck" size="lg" class="btn fab rounded-circle circle p-2" (click)="goHome()"></fa-icon>
            </div>
        </div>
  
    </div>
  
</div>