<div class="bg-partida">

    <mat-tab-group #matTab [(selectedIndex)]="tabIndex" mat-align-tabs="start" (selectedTabChange)="selecionaSet($event.index+1);">
        <mat-tab *ngFor="let set of sets" label="Set {{set.ordem_set}}">

            <div class="conteudo col-12 p-3">

                <div class="title d-flex align-items-center p-0">
                    <div class="d-flex justify-content-center">
                        <fa-icon [icon]="faArrowLeft" size="lg" class="btn rounded-circle circle-yellow p-2" (click)="goBack()"></fa-icon>
                    </div>
                    <h1 class="text-center p-1 my-auto">{{partida.nome}}</h1>
                </div>

                <div class="central">
                    <div class="users col-12 d-flex">
                        <div *ngIf="partida.jogador_1.nome" class="jogador col-2 d-flex flex-wrap mx-auto">
                            <fa-icon [icon]="faCircleUser" class="m-auto" style="font-size:40px"></fa-icon>
                            <p class="col-12 text-center" style="font-size:14px">{{partida.jogador_1.nome}}</p>
                        </div>

                        <div *ngIf="partida.jogador_2.nome" class="jogador col-2 d-flex flex-wrap mx-auto">
                            <fa-icon [icon]="faCircleUser" class="m-auto" style="font-size:40px"></fa-icon>
                            <p class="col-12 text-center" style="font-size:14px">{{partida.jogador_2.nome}}</p>
                        </div>

                        <div class="bg-placar col-3 p-0">

                            <h5 class="text-center m-1">{{partida.nome}}</h5>

                            <div class="placar d-flex align-items-center justify-content-around rounded p-2" style="background-color:#467E52">

                                <div class="d-flex justify-content-center">
                                    <!-- <fa-icon [icon]="faPlus" size="lg" class="btn rounded-circle circle-green p-2"></fa-icon> -->
                                    <h4 class="text-center text-light m-auto">{{partida.sets[tabIndex].acertos ? partida.sets[tabIndex].acertos : 0}}</h4>
                                </div>

                                <div class="d-flex justify-content-center align-items-center">
                                    <h4 class="text-center text-light m-auto">{{partida.sets[tabIndex].erros ? partida.sets[tabIndex].erros : 0}}</h4>
                                    <!-- <fa-icon [icon]="faPlus" size="lg" class="btn rounded-circle circle-green p-2"></fa-icon> -->
                                </div>
                            </div>

                        </div>


                        <div *ngIf="partida.jogador_adversario_1.nome" class="jogador col-2 d-flex flex-wrap mx-auto">
                            <fa-icon [icon]="faCircleUser" class="m-auto" style="font-size:40px"></fa-icon>
                            <p class="col-12 text-center" style="font-size:14px">{{partida.jogador_adversario_1.nome}}</p>
                        </div>

                        <div *ngIf="partida.jogador_adversario_2.nome" class="jogador col-2 d-flex flex-wrap mx-auto">
                            <fa-icon [icon]="faCircleUser" class="m-auto" style="font-size:40px"></fa-icon>
                            <p class="col-12 text-center" style="font-size:14px">{{partida.jogador_adversario_2.nome}}</p>
                        </div>
                    </div>

                    <div class="quadra col-12 position-relative">

                        <div *ngFor="let quadrante of quadrantes | slice:0:12" class="quadrante col-2 bg-quadra d-inline-block p-3">
                            <div class="d-flex justify-content-center" (click)="abrirModalJogada(quadrante)">
                                <fa-icon [icon]="faPlus" size="lg" class="btn rounded-circle circle-green p-2"></fa-icon>
                            </div>
                        </div>

                        <div class="bt-rede position-absolute" (click)="abrirModalJogada(quadrantes[12])">
                            <fa-icon [icon]="faPlus" size="lg" class="btn circle-green rounded-circle p-2"></fa-icon>
                        </div>

                        <button mat-icon-button [matMenuTriggerFor]="menu" class="bt-fora-quadra position-fixed" aria-label="botão fora da quadra">
                            <fa-icon [icon]="faTableTennis" size="lg" class="btn circle-yellow rounded-circle p-2"></fa-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="abrirModalJogada(quadrantes[13])">
                            <fa-icon [icon]="faArrowLeft"></fa-icon>
                            <span class="px-1">{{quadrantes[13].descricao}}</span>
                        </button>
                        <button mat-menu-item (click)="abrirModalJogada(quadrantes[14])" >
                            <fa-icon [icon]="faArrowRight"></fa-icon>
                            <span class="px-1">{{quadrantes[14].descricao}}</span>
                        </button>
                        </mat-menu>

                    </div>
                </div>

            </div>
        
            

        </mat-tab>
    </mat-tab-group>
</div>