.bg-partida{
    /* gambiarra pra setar o background. Quando dava scroll ficava com fundo amarelo =) */
    top:0px; bottom: 0px;
    height: 100%;
    background-color: white;
    position: absolute;
    overflow-x: scroll;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.bg-quadra {
    background-color: #467E52;
    border: 1px solid white;
}

.bt-rede {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bt-fora-quadra {
    top: 4em;
    right: 1em;
}

.center {
    display: flex; 
    justify-content: center; 
    align-items: center;
}