.bg-partida{
    background-color: white;
    height: 100%;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.bg-quadra {
    background-color: #467E52;
    border: 1px solid white;
}

.bt-rede {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bt-fora-quadra {
    top: 4em;
    right: 1em;
}