<div class="container-fluid menu p-5">

    <div class="row gy-3">
      <h1 class="text-center p-2">Scout Badminton</h1>
  
      <div class="col-12 p-2 d-flex justify-content-center">
        <fa-icon [icon]="faCoffee" size="4x" class="rounded-circle circle p-3"></fa-icon>
      </div>
  
      <div class="col-12">
      
        <button type="button" class="col-12 col-md-6 m-auto mb-2 mb-md-3 d-block btn btn-light shadow-sm" routerLink="/cadastro-jogador" >Cadastrar jogador</button>
        <button type="button" routerLink="/cadastro-partida" class="col-12 col-md-6 m-auto mb-2 mb-md-3 d-block btn btn-light shadow-sm">Cadastrar partida</button>
        <button type="button" routerLink="/lista-partida" class="col-12 col-md-6 m-auto mb-2 mb-md-3 d-block btn btn-light shadow-sm">Iniciar partida</button>
        <button type="button" class="col-12 col-md-6 m-auto mb-2 mb-md-3 d-block btn btn-light shadow-sm" routerLink="/lista-partida">Partidas cadastradas</button>
        <button type="button" class="col-12 col-md-6 m-auto mb-2 mb-md-3 d-block btn btn-light shadow-sm" routerLink="/lista-jogador">Jogadores cadastrados</button>
        <button type="button" class="col-12 col-md-6 m-auto mb-2 mb-md-3 d-block btn btn-light shadow-sm">Gerar relatório da partida</button>
  
      </div>
  
    </div>
  
</div>