<div class="container-fluid menu p-4">

    <div class="row gy-3">
      
        <div class="title d-flex align-items-center p-0">
            <div class="d-flex justify-content-center">
                <fa-icon [icon]="faArrowLeft" size="lg" class="btn rounded-circle circle p-2" (click)="goBack()"></fa-icon>
            </div>
            <h1 class="col-10 text-center p-1">Partidas Cadastradas</h1>
        </div>

        <div *ngFor="let partida of partidas | slice: inicioPag : fimPag" class="col-12 col-md-6 px-2">

            <div class="card p-2">

                <h5 class="text-center">{{partida.nome}}</h5>

                <div class="col-12 px-2">
                    
                    <p class="text-center col-6 d-inline-block">
                        <fa-icon [icon]="faCalendar"></fa-icon>
                         {{partida.data}}
                    </p>
                    <p class="text-center col-6 d-inline-block">
                        <img src="../../assets/peteca.png" class="col-2 col-sm-1 img-fluid p-1 p-sm-0 py-sm-1 pt-md-2 py-lg-2" alt="Responsive image">
                        <!-- <fa-icon [icon]="faTableTennis"></fa-icon> -->
                        {{partida.tipo_jogo | titlecase}}
                    </p>

                </div>

                <div class="col-12 px-2" style="position: relative;">
                    <div>
                        <p class="text-center text-truncate col-6 d-inline-block px-3 mb-1"><fa-icon [icon]="faUser"></fa-icon> {{partida.jogador_1.nome}}</p>
                        <p class="text-center text-truncate col-6 d-inline-block px-3 mb-1"><fa-icon [icon]="faUser"></fa-icon> {{partida.jogador_adversario_1.nome}}</p>
                    </div>

                    <p class="text-center" style="position: absolute; top: 40%;left: 50%;transform: translate(-50%, -50%);"><b>X</b></p>

                    <div *ngIf="partida.jogador_2.nome && partida.jogador_adversario_2.nome">
                        <p class="text-center text-truncate col-6 d-inline-block px-3 mb-1" ><fa-icon [icon]="faUser"></fa-icon> {{partida.jogador_2.nome ? partida.jogador_2.nome : ''}}</p>
                        <p class="text-center text-truncate col-6 d-inline-block px-3 mb-1" ><fa-icon [icon]="faUser"></fa-icon> {{partida.jogador_adversario_2.nome ? partida.jogador_adversario_2.nome : ''}}</p>
                    </div>
                    <!-- Talvez mudar a cor do icone de usuario para diferencialos -->
                </div>

                <div class="d-flex align-items-center justify-content-end p-0">
                    <div class="d-flex justify-content-center me-2">
                        <fa-icon [icon]="faFileLines" class="btn rounded-circle circle-yellow p-2" (click)="gerarRelatorio(partida)"></fa-icon>
                    </div>
                    <div class="d-flex justify-content-center">
                        <fa-icon [icon]="faPlay" class="btn rounded-circle circle-yellow p-2" (click)="iniciarPartida(partida)"></fa-icon>
                    </div>
                </div>

            </div>
            
        </div>

        <div class="center">
            <mat-spinner *ngIf="carregando"></mat-spinner>
        </div>

        <mat-paginator [length]="partidas.length"
              [pageSize]="8"
              [pageSizeOptions]="[5, 10, 25, 50]"
              (page)="onPageChange($event)"
              aria-label="Selecionar página">
        </mat-paginator>

        <div class="input-group-append p-0">
            <div class="col-12 d-flex justify-content-end">
                <fa-icon [icon]="faCheck" size="lg" class="btn fab rounded-circle circle p-2" (click)="goHome()"></fa-icon>
            </div>
        </div>
  
    </div>
  
</div>